* {
	transition: 0.3s;
	-moz-transition: 0.3s;	/* Firefox 4 */
	-webkit-transition: 0.3s;	/* Safari 和 Chrome */
	-o-transition: 0.3s;
}
a, .sweet-alert {
	font-family: "微软雅黑";
}
.main {
	font-family: "微软雅黑";
	margin-top: 5%;
}
#vote-form {
	margin: 60px 15px;
}
footer {
	margin-bottom: 5px;
}
.panel-heading {
	font-weight: bold;
}
.radio-vote, .checkbox-vote {
	width: 15pt;
	height: 15pt;
}
.vote-persection label {
	font-weight: normal;
	font-size: 18px;
	margin-left: 5px;
		margin-top: 2px;
	cursor: pointer;
}
.vote-persection input[type=radio] {
	cursor: pointer;
}

.panel-body .row + .row {
	margin-top: 10px;
}

